
body {
    background: whitesmoke;
    color: #333333;
    margin-top: 5rem;
    background-image: url('profile_pics/jump-rope-1280.jpg');
    background-repeat: no-repeat;
    background-position: left ;
    background-size: 130%;
    background-attachment: fixed;
    background-blend-mode: darken;
  }



.content-section {
  background: rgb(243, 235, 237);
  padding: 10px 20px;
  border: 1px solid darkgray;
  border-radius: 3px;
  margin-bottom: 20px;
}

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .about{
    text-align: center;
  }
  