{% extends 'layout.html' %}
{% block content %}
    <div class="content-section about">
       
        <h1>Alittle about who we are and how it all started...</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, voluptatem sapiente magni doloribus omnis temporibus sit magnam similique laboriosam sequi quia ducimus aliquam consectetur est debitis officiis incidunt adipisci nulla.</p>
        <p>Euismod in pellentesque massa placerat. Ornare lectus sit amet est placerat in. Facilisi cras fermentum odio eu feugiat pretium nibh. Amet cursus sit amet dictum sit. Sapien faucibus et molestie ac feugiat sed. Ornare arcu odio ut sem. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices. Tristique senectus et netus et malesuada. In nibh mauris cursus mattis. Nunc pulvinar sapien et ligula ullamcorper malesuada proin.
            Tempus.</p>
    </div>
{% endblock content %}
    